<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 광고 ID(Advertising ID)**에 접근하기 위한 권한입니다. -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BikeMemoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_scooter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_scooter_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikeRepairDoc"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BikeRepairDoc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.gms.credential manager.ENABLED"
                android:value="true" />
            <!-- Credential Manager를 상용하기위한 메타데이터 -->
        </activity>
    </application>

</manifest>